<!doctype html>
<html>
  <head>
    <title>Smart Habit Builder - Register</title>
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="container">
      <h2>Register</h2>
      <form method="post">
        <input name="name" type="text" placeholder="Full Name" required /><br />
        <input name="email" type="email" placeholder="Email" required /><br />
        <input
          name="password"
          type="password"
          placeholder="Password"
          required
        /><br />
        <button type="submit">Register</button>
      </form>
      <a href="/">Already have an account? Login</a>
    </div>
  </body>
</html>
